In [1]:
import pandas as pd
import numpy as np
import nltk
import time
import matplotlib.pyplot as plt
import seaborn as sns
import os, glob
import csv
from functools import reduce
import re
import string

In [4]:

labels = ["Direct Harassment", "Hate Speech","Sexual Harassment","Trolling", "Others", "Toxic"]

batch_files = ['usanews.csv', 'foxnews0.csv', 'foxnews1.csv', 'foxnews2.csv', 'foxnews3.csv', 
                'nogla0.csv','pew0.csv', 'rae0_0.csv', 
                 'rae0_1.csv', 'terror0_0.csv', 'terror0_1.csv']

vid_files = ["foxnews_FULL.csv", "rae_FULL.csv",  "terror_FULL.csv",
             "usanews.csv" , "pew0.csv", "nogla0.csv", "drdisrespect_FULL.csv"]
genre_files = ["gaming_channels_GENRE.csv", "news_channel_GENRE.csv" ]

files = []
files.extend(vid_files)
files.extend(genre_files)
print(files)

['foxnews_FULL.csv', 'rae_FULL.csv', 'terror_FULL.csv', 'usanews.csv', 'pew0.csv', 'nogla0.csv', 'drdisrespect_FULL.csv', 'gaming_channels_GENRE.csv', 'news_channel_GENRE.csv']

# TOP BI-GRAMS BASED ON TFIDF SCORES

In [35]:
src_folder = "tfidf_scores_WORDS_per_video/"
dest_folder = "tfidf_scores_WORDS_per_video/"
top_dfs = []
for file in files:
    vals = {}
    df = pd.read_csv(src_folder+file, index_col = 0)
    features = df.columns.difference(labels)
    dfs = []
    for label in labels:
        dl = df[df[label] == 1][features]
        dl = dl.T.sort_values(by=[dl.T.columns[0]], ascending = False).head(10)
        dl.index.name = "".join([w[0] for w in label.split()])
        if label == "Trolling":
            dl.index.name += "R"
        elif label == "Toxic":
            dl.index.name += "X"
        elif label == "Others":
            dl.index.name += "T"
        dl = dl.rename({dl.columns[0]:  dl.index.name + " value"}, axis='columns')
        dl.index.name += " words"
        dfs.append(dl)
    dfs = [d.reset_index(drop=False) for d in dfs]
    x = pd.concat(dfs, axis=1)
    display(x.style.set_caption(file))   
    x.to_csv(dest_folder+"TOP_WORDS_"+file)

# TOP BI-GRAMS BASED ON LOWEST P-VALUE

In [3]:
genre_files = ["gaming_channels_GENRE.csv", "news_channel_GENRE.csv" ]
src_folder = "corr_words_per_label/"
corr_dfs = []
for file in files:
    df = pd.read_csv(src_folder+file, index_col = 0) 
    df.dropna(axis = 0, how = 'all', inplace = True)
    
    dic = {}
    dfs = {}
    #corr coeffcorr coeff
    for label in labels:
        dp = df[(df[label + " p-val"] > 0 )& ( df[label + " corr coeff"] > 0)].sort_values(by=[label + " p-val"], ascending = True).head(5)
        top_features = list(dp[label + " p-val"].index)
        #display(df[label + " p-val"])
        #dt = dp[ [label + " p-val", label + " corr coeff"]].T[top_features]
        dic[label] = top_features
   
    
    corr_coeff = {}
    for label in labels:
        col = ["top " + label]
        col.extend(dic[label])
        corr_df = pd.DataFrame(columns= col )
        
        for row in labels:
            new_row = {}
            for word in dic[label]:
                x = df.loc[word, row + " corr coeff"]
                row_label = "".join([w[0] for w in row.split()])
                
                if row == "Trolling":
                    row_label += "R"
                elif row == "Toxic":
                    row_label += "X"
                elif row == "Others":
                    row_label += "T" 
                
                new_row["top " + label] = row_label
                new_row[word] = x
            corr_df = corr_df.append(new_row, ignore_index=True)
        
        display(corr_df.set_index("top " + label).T.style.set_caption(file))

# TOP POS SEQUENCE

In [17]:
genre_files = ["gaming_channels_GENRE.csv", "news_channel_GENRE.csv" ]
src_folder =  "tfidf_scores_POS_per_video/"
dest_folder =  "0_FOR_ANALYSIS_RESULTS/"
for file in files:
    vals = {}
    df = pd.read_csv(src_folder+file, index_col = 0)
    features = df.columns.difference(labels)
    dfs = []
    for label in labels: 
        dl = df[df[label] == 1][features]
        dl = dl.T.sort_values(by=[dl.T.columns[0]], ascending = False).head(10)
        dl.index.name = "".join([w[0] for w in label.split()])
        if label == "Trolling":
            dl.index.name += "R"
        elif label == "Toxic":
            dl.index.name += "X"
        elif label == "Others":
            dl.index.name += "T"
        dl = dl.rename({dl.columns[0]:  dl.index.name + " value"}, axis='columns')
        dl.index.name += " POS-SEQ"
        dfs.append(dl)
        
    dfs = [d.reset_index(drop=False) for d in dfs]
    x = pd.concat(dfs, axis=1)
    display(x.style.set_caption(file))   
    x.to_csv(dest_folder+"TOP_POS_TFIDF_"+file)

# TOP POS SEQUENCE - P Value. Correlational Analysis

In [18]:
src_folder = "corr_pos_seq_per_label/"
dest_folder =  "0_FOR_ANALYSIS_RESULTS/"
corr_dfs = []
for file in files:
    df = pd.read_csv(src_folder+file, index_col = 0) 
    df.dropna(axis = 0, how = 'all', inplace = True)
    
    dic = {}
    dfs = {}
    #corr coeffcorr coeff
    for label in labels:
        dp = df[(df[label + " p-val"] > 0 )& ( df[label + " corr coeff"] > 0)].sort_values(by=[label + " p-val"], ascending = True).head(5)
        top_features = list(dp[label + " p-val"].index)
        #display(df[label + " p-val"])
        #dt = dp[ [label + " p-val", label + " corr coeff"]].T[top_features]
        dic[label] = top_features
   
    
    corr_coeff = {}
    for label in labels:
        col = ["top " + label]
        col.extend(dic[label])
        corr_df = pd.DataFrame(columns= col )
        
        for row in labels:
            new_row = {}
            for word in dic[label]:
                x = df.loc[word, row + " corr coeff"]
                row_label = "".join([w[0] for w in row.split()])
                
                if row == "Trolling":
                    row_label += "R"
                elif row == "Toxic":
                    row_label += "X"
                elif row == "Others":
                    row_label += "T" 
                
                new_row["top " + label] = row_label
                new_row[word] = x
            corr_df = corr_df.append(new_row, ignore_index=True)
        
        display(corr_df.set_index("top " + label).T.style.set_caption(file))