In [1]:
import pandas as pd
import numpy as np
import nltk
import time
import matplotlib.pyplot as plt
import seaborn as sns
import os, glob
import csv
from functools import reduce
import re
import string

In [2]:

labels = ["Direct Harassment", "Hate Speech","Sexual Harassment","Trolling", "Others", "Toxic"]

batch_files = ['usanews.csv', 'foxnews0.csv', 'foxnews1.csv', 'foxnews2.csv', 'foxnews3.csv', 
                'nogla0.csv','pew0.csv', 'rae0_0.csv', 
                 'rae0_1.csv', 'terror0_0.csv', 'terror0_1.csv']

vid_files = ["foxnews_FULL.csv", "rae_FULL.csv",  "terror_FULL.csv",
             "usanews.csv" , "pew0.csv", "nogla0.csv", "drdisrespect_FULL.csv"]
genre_files = ["gaming_channels_GENRE.csv", "news_channel_GENRE.csv" ]

files = []
files.extend(vid_files)
files.extend(genre_files)
print(files)

['foxnews_FULL.csv', 'rae_FULL.csv', 'terror_FULL.csv', 'usanews.csv', 'pew0.csv', 'nogla0.csv', 'drdisrespect_FULL.csv', 'gaming_channels_GENRE.csv', 'news_channel_GENRE.csv']

# TOP BI-GRAMS BASED ON TFIDF SCORES

In [35]:
src_folder = "tfidf_scores_WORDS_per_video/"
dest_folder = "tfidf_scores_WORDS_per_video/"
top_dfs = []
for file in files:
    vals = {}
    c
    features = df.columns.difference(labels)
    dfs = []
    for label in labels:
        dl = df[df[label] == 1][features]
        dl = dl.T.sort_values(by=[dl.T.columns[0]], ascending = False).head(10)
        dl.index.name = "".join([w[0] for w in label.split()])
        if label == "Trolling":
            dl.index.name += "R"
        elif label == "Toxic":
            dl.index.name += "X"
        elif label == "Others":
            dl.index.name += "T"
        dl = dl.rename({dl.columns[0]:  dl.index.name + " value"}, axis='columns')
        dl.index.name += " words"
        dfs.append(dl)
    dfs = [d.reset_index(drop=False) for d in dfs]
    x = pd.concat(dfs, axis=1)
    display(x.style.set_caption(file))   
    x.to_csv(dest_folder+"TOP_WORDS_"+file)

# TOP BI-GRAMS BASED ON LOWEST P-VALUE

In [3]:
genre_files = ["gaming_channels_GENRE.csv", "news_channel_GENRE.csv" ]
src_folder = "corr_words_per_label/"
corr_dfs = []
for file in files:
    df = pd.read_csv(src_folder+file, index_col = 0) 
    df.dropna(axis = 0, how = 'all', inplace = True)
    
    dic = {}
    dfs = {}
    #corr coeffcorr coeff
    for label in labels:
        dp = df[(df[label + " p-val"] > 0 )& ( df[label + " corr coeff"] > 0)].sort_values(by=[label + " p-val"], ascending = True).head(5)
        top_features = list(dp[label + " p-val"].index)
        #display(df[label + " p-val"])
        #dt = dp[ [label + " p-val", label + " corr coeff"]].T[top_features]
        dic[label] = top_features
   
    
    corr_coeff = {}
    for label in labels:
        col = ["top " + label]
        col.extend(dic[label])
        corr_df = pd.DataFrame(columns= col )
        
        for row in labels:
            new_row = {}
            for word in dic[label]:
                x = df.loc[word, row + " corr coeff"]
                row_label = "".join([w[0] for w in row.split()])
                
                if row == "Trolling":
                    row_label += "R"
                elif row == "Toxic":
                    row_label += "X"
                elif row == "Others":
                    row_label += "T" 
                
                new_row["top " + label] = row_label
                new_row[word] = x
            corr_df = corr_df.append(new_row, ignore_index=True)
        
        display(corr_df.set_index("top " + label).T.style.set_caption(file))

# TOP POS SEQUENCE

In [167]:
genre_files = ["gaming_channels_GENRE.csv", "news_channel_GENRE.csv" ]
src_folder =  "tfidf_scores_POS_per_video/"
dest_folder =  "0_FOR_ANALYSIS_RESULTS/"
for file in files:
    vals = {}
    df = pd.read_csv(src_folder+file, index_col = 0)
    features = df.columns.difference(labels)
    dfs = []
    for label in labels: 
        dl = df[df[label] == 1][features]
        dl = dl.T.sort_values(by=[dl.T.columns[0]], ascending = False).head(10)
        dl.index.name = "".join([w[0] for w in label.split()])
        if label == "Trolling":
            dl.index.name += "R"
        elif label == "Toxic":
            dl.index.name += "X"
        elif label == "Others":
            dl.index.name += "T"
        dl = dl.rename({dl.columns[0]:  dl.index.name + " value"}, axis='columns')
        dl.index.name += " POS-SEQ"
        dfs.append(dl)
        
    dfs = [d.reset_index(drop=False) for d in dfs]
    x = pd.concat(dfs, axis=1)
    display(x.style.set_caption(file))   
    x.to_csv(dest_folder+"TOP_POS_TFIDF_"+file)

# TOP POS SEQUENCE - P Value. Correlational Analysis

In [174]:
src_folder = "corr_pos_seq_per_label/"
dest_folder =  "0_FOR_ANALYSIS_RESULTS/"
corr_dfs = []
for file in files:
    df = pd.read_csv(src_folder+file, index_col = 0) 
    df.dropna(axis = 0, how = 'all', inplace = True)
    
    dic = {}
    dfs = {}
    #corr coeffcorr coeff
    for label in labels:
        dp = df[(df[label + " p-val"] > 0 )& ( df[label + " corr coeff"] > 0)].sort_values(by=[label + " p-val"], ascending = True).head(5)
        top_features = list(dp[label + " p-val"].index)
       
        #dt = dp[ [label + " p-val", label + " corr coeff"]].T[top_features]
        dic[label] = top_features
   
    
    corr_coeff = {}
    for label in labels:
        col = ["top " + label]
        col.extend(dic[label])
        corr_df = pd.DataFrame(columns= col )
        if label == "Toxic":
            display(dp[label + " p-val"].head(5))
        
        for row in labels:
            new_row = {}
            
            for word in dic[label]:
                x = df.loc[word, row + " corr coeff"]
                row_label = "".join([w[0] for w in row.split()])
                
                if row == "Trolling":
                    row_label += "R"
                elif row == "Toxic":
                    row_label += "X"
                elif row == "Others":
                    row_label += "T" 
                
                new_row["top " + label] = row_label
                new_row[word] = x
            corr_df = corr_df.append(new_row, ignore_index=True)
        
        display(corr_df.set_index("top " + label).T.style.set_caption(file))

verb adv propn      0.124880
verb propn emoji    0.353057
noun noun emoji     0.353057
pron noun verb      0.373901
emoji emoji adj     0.373901
Name: Toxic p-val, dtype: float64

Series([], Name: Toxic p-val, dtype: float64)

adj noun noun     0.070484
adj noun verb     0.070484
verb adj noun     0.070484
verb adj          0.070484
verb verb noun    0.124880
Name: Toxic p-val, dtype: float64

noun noun intj     0.070484
adj propn adv      0.070484
intj verb propn    0.116117
emoji noun verb    0.124880
intj propn verb    0.124880
Name: Toxic p-val, dtype: float64

verb pron    0.070484
adj          0.150200
noun noun    0.353057
noun verb    0.353057
pron         0.353057
Name: Toxic p-val, dtype: float64

noun verb propn     0.070484
propn propn noun    0.070484
noun adv adj        0.070484
adv adj             0.070484
propn noun verb     0.070484
Name: Toxic p-val, dtype: float64

noun noun            0.070484
verb noun noun       0.070484
num noun verb        0.177808
propn propn emoji    0.177808
propn emoji emoji    0.177808
Name: Toxic p-val, dtype: float64

noun verb propn    0.070484
verb noun adv      0.070484
noun adv adj       0.070484
num noun           0.070484
pron noun          0.124880
Name: Toxic p-val, dtype: float64

noun noun intj     0.070484
adj noun num       0.124880
intj propn verb    0.124880
adj propn adv      0.124880
emoji noun verb    0.124880
Name: Toxic p-val, dtype: float64

In [169]:
src_folder = "../Annotations/CSVs/"
df = pd.read_csv(src_folder+"gaming_channels_GENRE.csv", index_col = 0)
df[df["Toxic"] == 1]["POS-SEQ"]

C:\Users\Phoebe\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3418: DtypeWarning: Columns (11) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

4500                                   PRON VERB VERB NOUN
4651                                  NOUN VERB NOUN PROPN
4728                                       NOUN VERB PROPN
4750                                     NOUN ADJ VERB ADV
5192                                                 PROPN
5311                  PRON ADV VERB ADJ NOUN VERB ADJ NOUN
5361                                        NOUN VERB NOUN
5837                                   PROPN PRON VERB ADJ
6631                                         ADJ NOUN VERB
6647                                  PRON VERB PROPN VERB
6769                                   NOUN VERB VERB NOUN
6792                                            PROPN NOUN
7036                                    ADJ NOUN NOUN NOUN
7061                                        NOUN VERB NOUN
7172                                              NUM NOUN
7435                                     ADJ NOUN VERB ADJ
8561                                   PRON NOUN NOUN NOUN
9926                            PROPN PROPN VERB NOUN NOUN
10072                          PROPN ADJ VERB NOUN ADV ADJ
10190                                            NUM PROPN
10468                                                 VERB
11465                                            VERB NOUN
11800                                           NOUN PROPN
12340                                           PROPN NOUN
12388                                       NOUN NOUN NOUN
12760                                            ADJ PROPN
12840    NOUN NOUN NOUN NOUN NOUN PRON ADV VERB NOUN NO...
12969                                       ADJ VERB PROPN
13177                                            NOUN NOUN
13306                      NOUN VERB PROPN NOUN PROPN NOUN
13627                                            NOUN VERB
13723                     ADJ ADJ NOUN VERB ADJ PROPN NOUN
13880                               PROPN PROPN VERB PROPN
14163        PROPN PROPN PROPN PROPN PROPN PROPN NOUN VERB
14558                    PROPN PROPN ADJ ADJ ADJ NOUN VERB
14793    ADJ NOUN NOUN VERB ADJ NOUN NOUN ADV ADJ NOUN ...
14837                                   PROPN ADJ ADJ NOUN
14855    NOUN VERB NOUN ADJ NOUN NOUN VERB PROPN PROPN ...
14867         PRON VERB NOUN NOUN PRON NOUN VERB NOUN NOUN
14975                                      PROPN NOUN VERB
14988                                     PROPN PROPN NOUN
19200                                                  ADJ
19400                                                PROPN
20260                                       VERB NOUN VERB
20945                       NOUN VERB PROPN NOUN NOUN NOUN
21299                                                 NOUN
22378                        NOUN VERB PROPN VERB PRON ADV
28759         PROPN VERB NOUN NOUN VERB ADJ NOUN VERB NOUN
30074                  PROPN PROPN EMOJI EMOJI EMOJI EMOJI
31307                          ADJ NUM NOUN VERB VERB NOUN
32612                                      PROPN NOUN VERB
Name: POS-SEQ, dtype: object