In [18]:
import pandas as pd
import numpy as np
import nltk
import time
import matplotlib.pyplot as plt
import seaborn as sns
import os, glob
import csv
from functools import reduce
import re
import string

In [30]:

labels = ["Direct Harassment", "Hate Speech","Sexual Harassment","Trolling", "Others", "Toxic"]

batch_files = ['usanews.csv', 'foxnews0.csv', 'foxnews1.csv', 'foxnews2.csv', 'foxnews3.csv', 
                'nogla0.csv','pew0.csv', 'rae0_0.csv', 
                 'rae0_1.csv', 'terror0_0.csv', 'terror0_1.csv']

vid_files = ["foxnews_FULL.csv", "rae_FULL.csv",  "terror_FULL.csv",
             "usanews.csv" , "pew0.csv", "nogla0.csv", "drdisrespect_FULL.csv"]
genre_files = ["gaming_channels_GENRE.csv", "news_channel_GENRE.csv" ]

files = []
files.extend(vid_files)
files.extend(genre_files)
print(files)

['foxnews_FULL.csv', 'rae_FULL.csv', 'terror_FULL.csv', 'usanews.csv', 'pew0.csv', 'nogla0.csv', 'drdisrespect_FULL.csv', 'gaming_channels_GENRE.csv', 'news_channel_GENRE.csv']

# TOP BI-GRAMS BASED ON TFIDF SCORES

In [35]:
src_folder = "tfidf_scores_WORDS_per_video/"
dest_folder = "tfidf_scores_WORDS_per_video/"
top_dfs = []
for file in files:
    vals = {}
    df = pd.read_csv(src_folder+file, index_col = 0)
    features = df.columns.difference(labels)
    dfs = []
    for label in labels:
        dl = df[df[label] == 1][features]
        dl = dl.T.sort_values(by=[dl.T.columns[0]], ascending = False).head(10)
        dl.index.name = "".join([w[0] for w in label.split()])
        if label == "Trolling":
            dl.index.name += "R"
        elif label == "Toxic":
            dl.index.name += "X"
        elif label == "Others":
            dl.index.name += "T"
        dl = dl.rename({dl.columns[0]:  dl.index.name + " value"}, axis='columns')
        dl.index.name += " words"
        dfs.append(dl)
    dfs = [d.reset_index(drop=False) for d in dfs]
    x = pd.concat(dfs, axis=1)
    display(x.style.set_caption(file))   
    x.to_csv(dest_folder+"TOP_WORDS_"+file)

# TOP BI-GRAMS BASED ON LOWEST P-VALUE

In [89]:
genre_files = ["gaming_channels_GENRE.csv", "news_channel_GENRE.csv" ]
src_folder = "corr_words_per_label/"
corr_dfs = []
for file in files:
    df = pd.read_csv(src_folder+file, index_col = 0) 
    df.dropna(axis = 0, how = 'all', inplace = True)
    
    dic = {}
    dfs = {}
    #corr coeffcorr coeff
    for label in labels:
        dp = df[(df[label + " p-val"] > 0 )& ( df[label + " corr coeff"] > 0)].sort_values(by=[label + " p-val"], ascending = True).head(10)
        top_features = list(dp[label + " p-val"].index)
        #display(df[label + " p-val"])
        #dt = dp[ [label + " p-val", label + " corr coeff"]].T[top_features]
        dic[label] = top_features
   
    
    corr_coeff = {}
    for label in labels:
        col = ["top " + label]
        col.extend(dic[label])
        corr_df = pd.DataFrame(columns= col )
        
        for row in labels:
            new_row = {}
            for word in dic[label]:
                x = df.loc[word, row + " corr coeff"]
                row_label = "".join([w[0] for w in row.split()])
                
                if row == "Trolling":
                    row_label += "R"
                elif row == "Toxic":
                    row_label += "X"
                elif row == "Others":
                    row_label += "T" 
                
                new_row["top " + label] = row_label
                new_row[word] = x
            corr_df = corr_df.append(new_row, ignore_index=True)
        
        display(corr_df.set_index("top " + label).T.style.set_caption(file))

In [ ]:
        corr_df = pd.DataFrame(columns = ['corr coeff', 'p-value'])
        dp = df[(df[label + " "] > 0)].sort_values(by=[label], ascending = True).head(10)
        top_features = list(dp[label].index)
        #print(dp[label])
        ds = df_2[label].T[top_features]
        #display(ds.T[top_features])
       
        corr_df['words'] = dp.index
        corr_df['p-value'] = list(dp[label])
        corr_df['corr coeff']  = list(ds)
        corr_df = corr_df.set_index('words')
        corr_df.index.name = fn + " - " + label
        display(corr_df)
        corr_df.to_csv(dest_folder+"CORR_ANALYSIS_"+file)

In [40]:
genre_files = ["gaming_channels_GENRE.csv", "news_channel_GENRE.csv" ]
src_folder =  "tfidf_scores_POS_per_video/"

for file in genre_files:
    df = pd.read_csv(src_folder+file, index_col = 0) 
    features = df.columns.difference(labels)
    for label in labels: 
        dl = df[df[label] == 1][features]
        dl = dl.T.sort_values(by=[dl.T.columns[0]], ascending = False).head(10)
        dl.index.name = file
        dl = dl.rename({dl.columns[0]: label}, axis='columns')
        
        display(dl)

                           Direct Harassment
gaming_channels_GENRE.csv
noun                                5.932765
adj                                 5.304345
propn                               4.375266
verb                                3.595740
pron                                3.011161
det                                 2.660375
aux                                 2.203011
det noun                            2.009084
adj noun                            1.897509
noun verb                           1.777734

                           Hate Speech
gaming_channels_GENRE.csv
noun                         33.668220
propn verb                   27.484534
propn                        20.021959
verb                         18.332486
propn aux                     5.975343
aux                           4.283330
propn aux det noun            4.265662
noun noun                     4.117543
propn aux det                 3.887602
aux det noun                  3.334136

                           Sexual Harassment
gaming_channels_GENRE.csv
noun                                1.829969
verb                                1.301574
propn                               1.190427
adj                                 1.015586
pron                                0.907469
adj propn                           0.868857
propn verb noun                     0.708981
propn verb                          0.655255
adp noun noun propn                 0.613291
adj noun verb verb                  0.602234

                           Trolling
gaming_channels_GENRE.csv
propn                      4.380458
noun                       3.728319
verb                       3.490139
aux                        3.217730
punct                      3.142331
noun punct                 2.980001
pron                       2.825418
adv det propn noun         2.798669
punct adv det propn        2.798669
noun punct adv det         2.719356

                             Others
gaming_channels_GENRE.csv
verb                       0.981996
verb propn                 0.855102
verb det propn             0.658518
adp det noun               0.636822
det                        0.601597
propn                      0.586069
adp det                    0.581903
det propn                  0.510162
adp                        0.469519
det noun                   0.407289

                              Toxic
gaming_channels_GENRE.csv
noun                       6.572629
propn                      4.499007
verb                       3.671761
adp                        3.232164
adj                        2.738786
pron                       2.693721
noun verb                  2.365261
det                        2.342433
det noun                   1.716914
aux                        1.691206

                        Direct Harassment
news_channel_GENRE.csv
propn                           64.882402
noun                            56.608265
verb                            38.352117
punct                           37.987507
propn propn                     30.711047
adp                             25.453843
det                             22.640833
aux                             22.505521
pron                            20.572439
emoji                           20.287090

                        Hate Speech
news_channel_GENRE.csv
propn                     88.870788
noun                      80.992302
punct                     58.195538
verb                      50.482515
adp                       46.099317
propn propn               38.031241
det                       36.809460
aux                       32.976515
emoji                     32.881169
noun adp                  27.507808

                        Sexual Harassment
news_channel_GENRE.csv
propn                            3.195031
noun                             2.269076
verb                             2.003061
propn propn                      1.933734
det                              1.604342
punct                            1.587059
pron                             1.462102
punct punct                      1.451485
propn verb                       1.344852
punct punct punct                1.328213

                         Trolling
news_channel_GENRE.csv
propn                   56.056145
noun                    45.845107
verb                    36.601344
punct                   34.140985
propn propn             26.214219
adp                     25.786085
aux                     22.724393
det                     22.264011
adj                     17.683020
pron                    17.552027

                          Others
news_channel_GENRE.csv
propn                   8.910536
noun                    7.566555
verb                    5.984656
punct                   5.852794
det                     5.235247
adp                     4.734272
pron                    4.188924
det noun                3.754812
aux                     3.699306
propn propn             3.444483

                            Toxic
news_channel_GENRE.csv
propn                   52.543534
noun                    50.549503
verb                    32.217801
punct                   28.924005
propn propn             22.642132
adp                     21.683983
det                     19.829922
aux                     16.542350
emoji                   16.095242
noun verb               14.722141