In [4]:
import pandas as pd
import numpy as np
import nltk
import time
import matplotlib.pyplot as plt
import seaborn as sns
import os, glob
import csv
from functools import reduce
import re
import string

In [70]:
labels = ["Direct Harassment", "Hate Speech","Sexual Harassment","Trolling", "Others", "Toxic"]
doc_names = ["fox_news", "valkyrae", "terror", "usanews", "nogla", "pewdiepie"]
src_folder = "tfidf_scores_results_per_video/"
src_folder2 = "correlations_of_tfidf_scores_per_label/"

dest_folder = "0_FOR_ANALYSIS_RESULTS/"
files = [("fox_news", "td_foxnews_FULL.csv"), ("Valkyrae", "td_rae_FULL.csv"),("Terror", "td_terror_FULL.csv"), 
         ("usa_news", "td_usanews.csv"), ("nogla", "td_nogla0.csv"), ("pewdiepie", "td_pew0.csv")]
prefix_s = "spr_"
prefix_p = "pval_"

# TOP BI-GRAMS BASED ON TFIDF SCORES

In [102]:
for fn, file in files:
    vals = {}
    df = pd.read_csv(src_folder+file).drop(columns = ['Unnamed: 0'])
    features = df.columns.difference(labels)
    for label in labels:
        dl = df[df[label] == 1][features]
        dl = dl.T.sort_values(by=[dl.T.columns[0]], ascending = False).head(10)
        dl.index.name = fn
        dl = dl.rename({dl.columns[0]: label}, axis='columns')
        display(dl)
        dl.to_csv(dest_folder+"TOP_TFIDF_"+file)

                         Direct Harassment
fox_news
meltdown progress                 2.309401
magat meltdown progress           2.309401
magat meltdown                    2.309401
maga tear                         1.538530
gobble gobble                     1.517393
trump lol                         1.474625
pardon turkey                     1.425936
supreme court                     1.302278
trump pardon                      1.253666
trump pardon turkey               1.084736

                       Hate Speech
fox_news
stimulus socialist        1.000000
sign traitor              1.000000
left garbage              1.000000
jail right                1.000000
conservative tear         1.000000
fox total                 1.000000
china virus               0.620191
left want war             0.577350
left want                 0.577350
trump devil incarnate     0.577350

                         Sexual Harassment
fox_news
beautiful kamala                  0.447214
ivanka beautiful                  0.447214
kamala harris                     0.447214
ivanka beautiful kamala           0.447214
beautiful kamala harris           0.447214
big loser                         0.377964
host big                          0.377964
host big loser                    0.377964
new host                          0.377964
trump new host                    0.377964

                      Trolling
fox_news
biden cheat           2.000000
gobble gobble         1.257449
covid hoax            1.000000
sign traitor          1.000000
philadelphia rigger   1.000000
hello dictatorship    1.000000
pay mfer              1.000000
raid server           1.000000
cheater bust          1.000000
gobble gobble gobble  0.893921

                         Others
fox_news
traitor hang           1.506965
civil war              0.860926
need civil war         0.601715
need civil             0.601715
traitor hang treason   0.595813
hang treason           0.595813
hang gallow            0.595813
traitor hang gallow    0.595813
supreme court traitor  0.475634
court traitor          0.475634

                 Toxic
fox_news
traitor hang  1.077060
buck fiden    1.000000
swamp worm    1.000000
satan trump   1.000000
satan kuwait  1.000000
fk blm        1.000000
fk acosta     1.000000
pay mfer      1.000000
lose sucker   1.000000
hang gallow   0.595813

                        Direct Harassment
Valkyrae
bruh dude                         0.57735
dude break                        0.57735
bruh dude break                   0.57735
probably week hiatus              0.00000
probably week                     0.00000
probably watch episode            0.00000
probably watch                    0.00000
probably strong                   0.00000
probably save                     0.00000
probably 24hr stream              0.00000

                        Hate Speech
Valkyrae
00 hour                         0.0
probably good tutorial          0.0
probably 24hr stream            0.0
probably extra                  0.0
probably extra damage           0.0
probably gon                    0.0
probably gon na                 0.0
probably good                   0.0
probably hurt                   0.0
proba5 ft                       0.0

                        Sexual Harassment
Valkyrae
finally toast thicc              0.447214
toast thicc                      0.447214
toast thicc booty                0.447214
finally toast                    0.447214
thicc booty                      0.447214
probably save                    0.000000
probably gon na                  0.000000
probably good                    0.000000
probably good tutorial           0.000000
probably hurt                    0.000000

                       Trolling
Valkyrae
lesson old             0.377964
lesson old man         0.377964
time teach lesson      0.377964
time teach             0.377964
teach lesson           0.377964
old man                0.377964
teach lesson old       0.377964
rae answer             0.333333
imma unsuscribe video  0.333333
video rae              0.333333

                        Others
Valkyrae
00 hour                    0.0
probably good tutorial     0.0
probably 24hr stream       0.0
probably extra             0.0
probably extra damage      0.0
probably gon               0.0
probably gon na            0.0
probably good              0.0
probably hurt              0.0
proba5 ft                  0.0

                        Toxic
Valkyrae
00 hour                   0.0
probably good tutorial    0.0
probably 24hr stream      0.0
probably extra            0.0
probably extra damage     0.0
probably gon              0.0
probably gon na           0.0
probably good             0.0
probably hurt             0.0
proba5 ft                 0.0

                       Direct Harassment
Terror
cory annoying                   1.000000
lightning care                  1.000000
130 noob                        1.000000
sooo dirty                      1.000000
die lmao                        1.000000
breathes hes                    0.707107
breathes hes impostor           0.707107
stream snipe dickhead           0.627773
snipe dickhead                  0.627773
bad game watch                  0.617562

                     Hate Speech
Terror
black guy               2.852805
guy nogla               1.340387
guy nogla 2020          1.340387
nogla 2020              1.340387
aussie weird            1.000000
black guy nogla         0.927768
white guy nogla         0.480829
white guy               0.422031
reason brian ignore     0.000000
reason brian            0.000000

                         Sexual Harassment
Terror
brian fan                          1.00000
thicc doe                          0.57735
brian thicc doe                    0.57735
brian thicc                        0.57735
00 morning                         0.00000
really reason rule                 0.00000
really record                      0.00000
really record game                 0.00000
really simple                      0.00000
really simple character            0.00000

                        Trolling
Terror
terroris simp           1.000000
dislike room            1.000000
dislike trigger         1.000000
trump2020 hope soon     0.707107
trump2020 hope          0.707107
deserve shoulda parent  0.447214
brown celebrity play    0.447214
brown celebrity         0.447214
play 50                 0.447214
orphan deserve          0.447214

                    Others
Terror
kill nogla        1.000000
burn wizard       1.000000
kill play         0.606875
kill play guy     0.606875
play guy          0.513231
instant kill      0.447214
em instant kill   0.447214
em instant        0.447214
knife em          0.447214
knife em instant  0.447214

                           Toxic
Terror
130 noob                1.000000
stream hop              0.707107
stream hop lol          0.707107
snitch fuck ridiculous  0.707107
snitch fuck             0.707107
snipe dickhead          0.627773
stream snipe dickhead   0.627773
blocker fucker          0.622533
ad blocker fucker       0.622533
kill play               0.606875

               Direct Harassment
usa_news
biden suck              8.289809
joe biden               5.346864
china joe               4.944934
biden jail              4.888336
biden racist            4.513080
lady gaga               4.115167
biden prison            3.651506
beijing biden           3.093903
cnn suck                3.000000
frack biden             3.000000

              Hate Speech
usa_news
china joe       12.087244
biden suck       9.159236
vote trump       9.051144
vote biden       7.275246
biden prison     6.831252
joe biden        5.643835
moron biden      4.692608
lady gaga        4.575394
china biden      4.376831
trump 2020       4.273371

                 Sexual Harassment
usa_news
lady gag                  3.000000
lady gaga                 1.476320
buck fiden                1.000000
shut bitch                1.000000
shitmer husband           1.000000
commie bitch              1.000000
gag lady                  0.899742
make gag lady             0.899742
make gag                  0.899742
gaga make gag             0.899742

               Trolling
usa_news
joe biden      8.910819
china joe      3.700944
biden prison   3.673721
biden china    3.000000
moron biden    2.846304
beijing biden  2.729269
vote trump     2.614594
biden win      2.510033
biden corrupt  2.409981
news biden     2.367293

                 Others
usa_news
sunny yu       1.742609
beijing biden  1.571336
biden voter    1.473367
life matter    1.396959
terror attack  1.072154
run country    1.000000
say biden      1.000000
chy na         1.000000
face mask      1.000000
47 year        1.000000

                  Toxic
usa_news
biden suck    11.159236
joe biden      8.326149
lady gaga      5.032711
cnn suck       4.000000
moron biden    3.461739
biden harris   3.254730
vote biden     3.200863
vote trump     2.979166
china joe      2.876151
biden prison   2.642075

                Direct Harassment
nogla
tom castillo             1.000000
speedy suck              1.000000
suck bad                 1.000000
nogla racist             1.000000
mom sus                  1.000000
holy shit                1.000000
mrtop5 gayyyyy           1.000000
tom castello             0.707107
richie 21                0.707107
richie 21 gay            0.707107

              Hate Speech
nogla
blm joke         8.532685
death blm        3.380983
blm racist       3.000000
lives matter     1.671215
blm suck         1.344836
blm stupid       1.000000
fla blm          1.000000
yumi trash       1.000000
dislike gay      1.000000
floyd hell       1.000000

                   Sexual Harassment
nogla
suck dick                   1.000000
sexy dick                   1.000000
shaving ball hurt           0.585874
shaving ball                0.585874
dick jk                     0.577350
want dick                   0.577350
want dick jk                0.577350
ban nogla                   0.559914
dick live matter            0.468699
dick live                   0.468699

                 Trolling
nogla
blm terrorist    1.257581
biden like       1.000000
corona myth      1.000000
covid fake       1.000000
purge 2021       1.000000
suck dick        1.000000
na bite          0.830798
gon na           0.802035
warming myth     0.722942
trump gae biden  0.707107

                        Others
nogla
00 fucking                 0.0
speech asian               0.0
special turn bad           0.0
specific chat              0.0
specific chat star         0.0
speec american             0.0
speec american version     0.0
speech allow               0.0
speech allow close         0.0
speech asian life          0.0

                      Toxic
nogla
pete fuckeddddd    1.000000
shut bitch         1.000000
floyd hell         1.000000
death blm          1.000000
sexy dick          1.000000
chat retard        1.000000
code fckubtch      1.000000
white boy          0.828362
pete fuckin        0.707107
pete fuckin idiot  0.707107

                   Direct Harassment
pewdiepie
nancy cringe                1.000000
nancy trash                 1.000000
nancy corpse                1.000000
nancy boring                1.000000
nt read                     0.733363
just nt                     0.679837
drunken man                 0.453639
walk look                   0.453639
walk look drunken           0.453639
way jack walk               0.453639

                          Hate Speech
pewdiepie
000 people                        0.0
respond ouija                     0.0
require facetune picture          0.0
resize screen                     0.0
resize screen apparently          0.0
respect btw                       0.0
respect btw let                   0.0
respond late                      0.0
respond late everytime            0.0
respond ouija board               0.0

                          Sexual Harassment
pewdiepie
felix gay                               1.0
000 people                              0.0
report serial                           0.0
require facetune                        0.0
require facetune picture                0.0
resize screen                           0.0
resize screen apparently                0.0
respect btw                             0.0
respect btw let                         0.0
respond late                            0.0

                           Trolling
pewdiepie
members money              5.366563
donations charity          5.366563
charity members money      5.366563
charity members            5.366563
donations charity members  5.366563
jack just                  1.000000
discord linked happened    0.638229
discord linked             0.638229
join discord               0.430496
respect btw let            0.000000

                          Others
pewdiepie
000 people                   0.0
respond ouija                0.0
require facetune picture     0.0
resize screen                0.0
resize screen apparently     0.0
respect btw                  0.0
respect btw let              0.0
respond late                 0.0
respond late everytime       0.0
respond ouija board          0.0

                       Toxic
pewdiepie
try guy             0.707107
try guy stfu        0.707107
felix pick          0.577350
suck felix          0.577350
suck felix pick     0.577350
discord fck phasmo  0.333333
phasmo audio lot    0.333333
phasmo audio        0.333333
audio lot time      0.333333
audio lot           0.333333

# TOP BI-GRAMS BASED ON LOWEST P-VALUE

In [103]:
for fn, file in files:
    vals = {}
    df = pd.read_csv(src_folder2+prefix_p+file).set_index("Unnamed: 0") 
    df.dropna(axis = 0, how = 'all', inplace = True)
    df = df.drop(['Unnamed: 0'], axis=0)
    
    df_2 = pd.read_csv(src_folder2+prefix_s+file).set_index("Unnamed: 0") 
    df_2.dropna(axis = 0, how = 'all', inplace = True)
    #features = df.columns.difference(labels)
    #display(df)
    #for label in labels:
    for label in labels: 
        
        corr_df = pd.DataFrame(columns = ['corr coeff', 'p-value'])
        dp = df[(df[label] > 0)].sort_values(by=[label], ascending = True).head(10)
        top_features = list(dp[label].index)
        #print(dp[label])
        ds = df_2[label].T[top_features]
        #display(ds.T[top_features])
       
        corr_df['words'] = dp.index
        corr_df['p-value'] = list(dp[label])
        corr_df['corr coeff']  = list(ds)
        corr_df = corr_df.set_index('words')
        corr_df.index.name = fn + " - " + label
        display(corr_df)
        corr_df.to_csv(dest_folder+"CORR_ANALYSIS_"+file)

                              corr coeff   p-value
fox_news - Direct Harassment
president elect                 0.774597  0.070484
biden win                       0.774597  0.070484
fox news                        0.774597  0.070484
wear mask                       0.774597  0.070484
bye bye                         0.774597  0.070484
vote biden                      0.707107  0.116117
joe biden                       0.695608  0.124880
turkey pardon                   0.695608  0.124880
gobble gobble                   0.695608  0.124880
trump pardon                    0.695608  0.124880

                         corr coeff   p-value
fox_news - Hate Speech
dead people vote           0.774597  0.070484
dead people                0.774597  0.070484
country communist          0.774597  0.070484
bratty teen                0.632456  0.177808
prepare china              0.632456  0.177808
biden tinpot               0.632456  0.177808
sharpie forget             0.632456  0.177808
biden tinpot manchurian    0.632456  0.177808
war prepare china          0.632456  0.177808
war people allow           0.632456  0.177808

                              corr coeff   p-value
fox_news - Sexual Harassment
look trump                     -0.674200  0.141927
high school                    -0.674200  0.141927
trump supporter                -0.664211  0.150200
ivanka beautiful                0.632456  0.177808
people need                    -0.632456  0.177808
school people                  -0.632456  0.177808
school people need             -0.632456  0.177808
push room disgust              -0.632456  0.177808
push room                      -0.632456  0.177808
host big                        0.632456  0.177808

                      corr coeff   p-value
fox_news - Trolling
biden voter             0.774597  0.070484
biden cheat             0.774597  0.070484
funny turkey talk       0.695608  0.124880
joke funny turkey       0.695608  0.124880
turkey talk             0.695608  0.124880
talk gobbles pardon     0.695608  0.124880
talk gobbles            0.695608  0.124880
trump family joke       0.695608  0.124880
funny turkey            0.695608  0.124880
gobble gobble gobble    0.695608  0.124880

                    corr coeff   p-value
fox_news - Others
traitor hang          0.707107  0.116117
civil war             0.695608  0.124880
stuff sock presses    0.632456  0.177808
stuff sock            0.632456  0.177808
enjoy life            0.632456  0.177808
enjoy life mr         0.632456  0.177808
war begin             0.632456  0.177808
life mr president     0.632456  0.177808
life mr               0.632456  0.177808
sock presses          0.632456  0.177808

                   corr coeff   p-value
fox_news - Toxic
gon na               0.774597  0.070484
trump lose           0.695608  0.124880
biden orange suit    0.632456  0.177808
trump lose sleepy    0.632456  0.177808
fk blm               0.632456  0.177808
fk acosta            0.632456  0.177808
orange suit jail     0.632456  0.177808
orange suit          0.632456  0.177808
rat expose let       0.632456  0.177808
wait prison          0.632456  0.177808

                              corr coeff  p-value
Valkyrae - Direct Harassment
answer ok                           -0.2    0.704
unsuscribe video rae                -0.2    0.704
unsuscribe video                    -0.2    0.704
toast thicc booty                   -0.2    0.704
toast thicc                         -0.2    0.704
time teach lesson                   -0.2    0.704
time teach                          -0.2    0.704
thicc booty                         -0.2    0.704
teach lesson old                    -0.2    0.704
video rae                           -0.2    0.704

                        corr coeff  p-value
Valkyrae - Hate Speech
answer ok                     -0.2    0.704
unsuscribe video rae          -0.2    0.704
unsuscribe video              -0.2    0.704
toast thicc booty             -0.2    0.704
toast thicc                   -0.2    0.704
time teach lesson             -0.2    0.704
time teach                    -0.2    0.704
thicc booty                   -0.2    0.704
teach lesson old              -0.2    0.704
teach lesson                  -0.2    0.704

                              corr coeff  p-value
Valkyrae - Sexual Harassment
answer ok                           -0.2    0.704
unsuscribe video rae                -0.2    0.704
unsuscribe video                    -0.2    0.704
time teach lesson                   -0.2    0.704
time teach                          -0.2    0.704
teach lesson old                    -0.2    0.704
teach lesson                        -0.2    0.704
rae answer ok                       -0.2    0.704
video rae                           -0.2    0.704
rae answer                          -0.2    0.704

                     corr coeff  p-value
Valkyrae - Trolling
bruh dude                  -0.2    0.704
bruh dude break            -0.2    0.704
dude break                 -0.2    0.704
finally toast              -0.2    0.704
finally toast thicc        -0.2    0.704
thicc booty                -0.2    0.704
toast thicc                -0.2    0.704
toast thicc booty          -0.2    0.704

                      corr coeff  p-value
Valkyrae - Others
answer ok                   -0.2    0.704
unsuscribe video rae        -0.2    0.704
unsuscribe video            -0.2    0.704
toast thicc booty           -0.2    0.704
toast thicc                 -0.2    0.704
time teach lesson           -0.2    0.704
time teach                  -0.2    0.704
thicc booty                 -0.2    0.704
teach lesson old            -0.2    0.704
teach lesson                -0.2    0.704

                      corr coeff  p-value
Valkyrae - Toxic
answer ok                   -0.2    0.704
unsuscribe video rae        -0.2    0.704
unsuscribe video            -0.2    0.704
toast thicc booty           -0.2    0.704
toast thicc                 -0.2    0.704
time teach lesson           -0.2    0.704
time teach                  -0.2    0.704
thicc booty                 -0.2    0.704
teach lesson old            -0.2    0.704
teach lesson                -0.2    0.704

                            corr coeff   p-value
Terror - Direct Harassment
130 noob                      0.632456  0.177808
play game                     0.632456  0.177808
play game terrible            0.632456  0.177808
poor kid                      0.632456  0.177808
poor kid talk                 0.632456  0.177808
scumbag spoil                 0.632456  0.177808
scumbag spoil game            0.632456  0.177808
smell nasty                   0.632456  0.177808
kid talk                      0.632456  0.177808
spoil game                    0.632456  0.177808

                      corr coeff   p-value
Terror - Hate Speech
shout tanga            -0.447214  0.373901
bobo gemme shout       -0.447214  0.373901
tanga gago             -0.447214  0.373901
bobo gemme             -0.447214  0.373901
shout tanga gago       -0.447214  0.373901
play game              -0.316228  0.541470
play game terrible     -0.316228  0.541470
play guy               -0.316228  0.541470
poor kid               -0.316228  0.541470
poor kid talk          -0.316228  0.541470

                            corr coeff   p-value
Terror - Sexual Harassment
bobo gemme shout             -0.447214  0.373901
bobo gemme                   -0.447214  0.373901
tanga gago                   -0.447214  0.373901
shout tanga gago             -0.447214  0.373901
shout tanga                  -0.447214  0.373901
130 noob                     -0.316228  0.541470
kid talk                     -0.316228  0.541470
kill play guy                -0.316228  0.541470
play game                    -0.316228  0.541470
play game terrible           -0.316228  0.541470

                   corr coeff   p-value
Terror - Trolling
bobo gemme           0.447214  0.373901
bobo gemme shout     0.447214  0.373901
shout tanga          0.447214  0.373901
shout tanga gago     0.447214  0.373901
tanga gago           0.447214  0.373901
stream snipe        -0.316228  0.541470
brian bad           -0.316228  0.541470
brian bad play      -0.316228  0.541470
play game           -0.316228  0.541470
spoil game          -0.316228  0.541470

                  corr coeff   p-value
Terror - Others
kill play guy       0.632456  0.177808
kill play           0.632456  0.177808
play guy            0.632456  0.177808
tanga gago         -0.447214  0.373901
shout tanga        -0.447214  0.373901
shout tanga gago   -0.447214  0.373901
bobo gemme shout   -0.447214  0.373901
bobo gemme         -0.447214  0.373901
scumbag spoil      -0.316228  0.541470
brian bad          -0.316228  0.541470

                        corr coeff   p-value
Terror - Toxic
130 noob                  0.632456  0.177808
spoil game                0.632456  0.177808
snipe dickhead            0.632456  0.177808
brian bad play            0.632456  0.177808
brian bad                 0.632456  0.177808
smell nasty               0.632456  0.177808
terroriser smell          0.632456  0.177808
scumbag spoil game        0.632456  0.177808
terroriser smell nasty    0.632456  0.177808
stream snipe              0.632456  0.177808

                              corr coeff   p-value
usa_news - Direct Harassment
america american people         0.774597  0.070484
think run george                0.774597  0.070484
think run                       0.774597  0.070484
destroy usa                     0.774597  0.070484
biden basement                  0.774597  0.070484
harris horrible                 0.774597  0.070484
biden biden                     0.774597  0.070484
run george bush                 0.774597  0.070484
run george                      0.774597  0.070484
vote vote                       0.774597  0.070484

                        corr coeff   p-value
usa_news - Hate Speech
county election board     0.774597  0.070484
safe america islamic      0.774597  0.070484
safe america              0.774597  0.070484
hang marion county        0.774597  0.070484
ruin california vote      0.774597  0.070484
ruin california           0.774597  0.070484
harris vote               0.774597  0.070484
biden laptop              0.774597  0.070484
biden laptop matter       0.774597  0.070484
hate country              0.774597  0.070484

                              corr coeff   p-value
usa_news - Sexual Harassment
gag lady                        0.774597  0.070484
make gag                        0.774597  0.070484
run country                    -0.774597  0.070484
make gag lady                   0.774597  0.070484
gaga make gag                   0.774597  0.070484
sell communist chinese         -0.707107  0.116117
traitor america                -0.707107  0.116117
buy sell communist             -0.707107  0.116117
buy sell                       -0.707107  0.116117
man traitor america            -0.707107  0.116117

                     corr coeff   p-value
usa_news - Trolling
biden vote satan       0.774597  0.070484
cnn communist          0.774597  0.070484
trump year             0.774597  0.070484
cnn communist news     0.774597  0.070484
mail voting            0.774597  0.070484
communist check        0.774597  0.070484
communist news         0.774597  0.070484
biden bot              0.774597  0.070484
terrorist attack       0.774597  0.070484
steal election         0.774597  0.070484

                     corr coeff   p-value
usa_news - Others
terror attack          0.774597  0.070484
attack vienna          0.774597  0.070484
attack austria         0.707107  0.116117
biden obama            0.707107  0.116117
lock lock              0.674200  0.141927
lady gaga             -0.654654  0.158302
biden suck            -0.654654  0.158302
really look corrupt   -0.632456  0.177808
son hunter             0.632456  0.177808
betray role            0.632456  0.177808

                           corr coeff   p-value
usa_news - Toxic
hunter crack                 0.774597  0.070484
rose red kamalas             0.774597  0.070484
satanist pedophiles          0.774597  0.070484
satanist pedophiles biden    0.774597  0.070484
dogma corruption             0.774597  0.070484
dogma corruption live        0.774597  0.070484
black dementia joe           0.774597  0.070484
black dementia               0.774597  0.070484
bin biden crime              0.774597  0.070484
hunter bidens                0.774597  0.070484

                           corr coeff   p-value
nogla - Direct Harassment
pete fuckin idiot            0.632456  0.177808
nogla smoke                  0.632456  0.177808
nogla racist                 0.632456  0.177808
pete fuckin                  0.632456  0.177808
smoke weeeeddddd             0.632456  0.177808
nogla smoke weeeeddddd       0.632456  0.177808
trump little white          -0.316228  0.541470
trump little                -0.316228  0.541470
sexy dick                   -0.316228  0.541470
shaving ball                -0.316228  0.541470

                       corr coeff   p-value
nogla - Hate Speech
life matter              0.774597  0.070484
george floyd             0.774597  0.070484
death blm                0.774597  0.070484
lives matter             0.774597  0.070484
blm suck                 0.774597  0.070484
black life matter        0.774597  0.070484
black life               0.774597  0.070484
death black              0.774597  0.070484
black guy                0.774597  0.070484
floyd rotten criminal    0.632456  0.177808

                           corr coeff   p-value
nogla - Sexual Harassment
ban nogla                    0.632456  0.177808
shaving ball hurt            0.632456  0.177808
shaving ball                 0.632456  0.177808
sexy dick                    0.632456  0.177808
suck dick                    0.632456  0.177808
fat dick eat                -0.316228  0.541470
dick eat                    -0.316228  0.541470
dick eat load               -0.316228  0.541470
death black lives           -0.316228  0.541470
nogla racist                -0.316228  0.541470

                   corr coeff   p-value
nogla - Trolling
blm terrorist        0.774597  0.070484
shaving ball         0.632456  0.177808
ban nogla            0.632456  0.177808
suck dick            0.632456  0.177808
shaving ball hurt    0.632456  0.177808
black guy            0.464758  0.353057
black life           0.464758  0.353057
black life matter    0.464758  0.353057
life matter          0.464758  0.353057
fat dick eat        -0.316228  0.541470

                        corr coeff  p-value
nogla - Others
sexy dick                -0.316228  0.54147
dick eat load            -0.316228  0.54147
death black lives        -0.316228  0.54147
nogla racist             -0.316228  0.54147
trump little             -0.316228  0.54147
trump little white       -0.316228  0.54147
nogla smoke              -0.316228  0.54147
nogla smoke weeeeddddd   -0.316228  0.54147
shaving ball hurt        -0.316228  0.54147
shaving ball             -0.316228  0.54147

                       corr coeff   p-value
nogla - Toxic
white boy                0.774597  0.070484
floyd hell               0.632456  0.177808
trump little             0.632456  0.177808
dick eat                 0.632456  0.177808
floyd rotten criminal    0.632456  0.177808
rotten criminal          0.632456  0.177808
pete fuckin idiot        0.632456  0.177808
floyd rotten             0.632456  0.177808
pete fuckin              0.632456  0.177808
white boy vote           0.632456  0.177808

                               corr coeff  p-value
pewdiepie - Direct Harassment
audio lot                            -0.2    0.704
suck felix pick                      -0.2    0.704
suck felix                           -0.2    0.704
phasmo audio lot                     -0.2    0.704
phasmo audio                         -0.2    0.704
members money                        -0.2    0.704
lot time                             -0.2    0.704
join discord                         -0.2    0.704
jack just                            -0.2    0.704
felix pick                           -0.2    0.704

                         corr coeff  p-value
pewdiepie - Hate Speech
audio lot                      -0.2    0.704
members money                  -0.2    0.704
nancy boring                   -0.2    0.704
nancy corpse                   -0.2    0.704
nancy cringe                   -0.2    0.704
nancy trash                    -0.2    0.704
nt read                        -0.2    0.704
lot time                       -0.2    0.704
phasmo audio                   -0.2    0.704
suck felix                     -0.2    0.704

                               corr coeff  p-value
pewdiepie - Sexual Harassment
audio lot                            -0.2    0.704
walk look drunken                    -0.2    0.704
walk look                            -0.2    0.704
try guy stfu                         -0.2    0.704
try guy                              -0.2    0.704
suck felix pick                      -0.2    0.704
suck felix                           -0.2    0.704
phasmo audio lot                     -0.2    0.704
phasmo audio                         -0.2    0.704
nt read                              -0.2    0.704

                      corr coeff  p-value
pewdiepie - Trolling
audio lot                   -0.2    0.704
walk look drunken           -0.2    0.704
walk look                   -0.2    0.704
try guy stfu                -0.2    0.704
try guy                     -0.2    0.704
suck felix pick             -0.2    0.704
suck felix                  -0.2    0.704
phasmo audio lot            -0.2    0.704
phasmo audio                -0.2    0.704
nt read                     -0.2    0.704

                    corr coeff  p-value
pewdiepie - Others
audio lot                 -0.2    0.704
members money             -0.2    0.704
nancy boring              -0.2    0.704
nancy corpse              -0.2    0.704
nancy cringe              -0.2    0.704
nancy trash               -0.2    0.704
nt read                   -0.2    0.704
lot time                  -0.2    0.704
phasmo audio              -0.2    0.704
suck felix                -0.2    0.704

                   corr coeff  p-value
pewdiepie - Toxic
charity members          -0.2    0.704
walk look drunken        -0.2    0.704
walk look                -0.2    0.704
nt read                  -0.2    0.704
nancy trash              -0.2    0.704
nancy cringe             -0.2    0.704
nancy corpse             -0.2    0.704
nancy boring             -0.2    0.704
members money            -0.2    0.704
way jack                 -0.2    0.704